{% extends "base.html" %}

{% block content %}
<h1>My Blog</h1>
<form method="post">
  <label>
    <div class='title'>Title</div>
    <input type="text" name="title" value="{{title}}"/>
  </label>

  <label>
    <div class ='blogpost'>Enter your blogpost!</div>
    <textarea name="blog" >{{blog}}</textarea>
  </label>

  <div class="error">{{error}}</div>

  <input type="submit" />

</form>
{% for blog in blog_list %}
  <hr />
  <div class="blog">

    <a href="/blog_list/{{blog.key().id()}}" class="blog-title">{{blog.title}}</a>
      <pre class="blog-body">
        {{blog.blog}}
      </pre>
  </div>

{% endfor %}


{% endblock %}
